body{
margin:0;
background:black;
color:white;
font-family:monospace;
overflow:hidden;
}

#gameWrapper{
position:relative;
width:1500px;
margin:auto;
}

canvas{
image-rendering:pixelated;
background:#111;
}

#ui{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
}

.hidden{display:none;}

#healthBar,#staminaBar{
height:12px;
margin:5px;
}

#healthBar{background:red;width:200px;}
#staminaBar{background:green;width:200px;}

#minimap{
position:absolute;
right:10px;
top:10px;
width:200px;
height:200px;
background:#000;
border:1px solid white;
}
