body{
  margin:0;
  background:black;
  overflow:hidden;
  font-family:monospace;
}

canvas{
  image-rendering:pixelated;
}

#ui{
  position:absolute;
  top:0;
  left:0;
  color:white;
  padding:10px;
}

.hidden{display:none}

.panel{
  background:rgba(0,0,0,.85);
  padding:12px;
  border:2px solid #555;
}
