body{
margin:0;
background:#000;
font-family:monospace;
overflow:hidden;
color:white;
}

#game{
display:block;
margin:auto;
background:#111;
image-rendering:pixelated;
}

#ui{
position:absolute;
top:10px;
left:10px;
}

.panel{
position:absolute;
top:100px;
left:200px;
width:600px;
height:500px;
background:#111;
border:3px solid white;
padding:20px;
}

.hidden{display:none}

#stats{
background:#111;
padding:10px;
border:2px solid white;
}

#minimap{
position:absolute;
right:20px;
top:20px;
border:2px solid white;
background:#000;
}
